---
layout: default
---
{% if page._styles %}
  <!-- Page/Post style -->
  <style type="text/css">
    {{ page._styles }}
  </style>
{% endif %}

<div class="post">
  <header class="post-header">
    <h1 class="post-title">{{ page.title }}</h1>
    <p class="post-description">{{ page.description }}</p>
  </header>

  <article>
    {% assign authors = site.data.authors %}
    {% if page.authors %}
      <p>
        by
        {% assign author_count = page.authors.size %}
        {% assign before_last_author = author_count | minus: 1 %}
        {% for author_id in page.authors %}
          {% assign author = authors[author_id] %}
          {{- author.name -}}
          {% if author.orcid %}
            <a href="https://orcid.org/{{ author.orcid }}"><i class="fa-brands fa-orcid"></i></a>
          {%- endif -%}
          {% if forloop.index0 < before_last_author and author_count > 2 -%}
            ,
          {% endif %}
          {% if forloop.index == before_last_author and author_count > 1 -%}
            and
          {% endif %}
        {% endfor %}
      </p>
    {% endif %}
    <!-- Info Box regarding approaches. Use page.approaches -->
    {% if page.approaches %}
      <div class="alert alert-warning" style="background: none;">
        {% if page.approaches.size > 1 %}
          <strong>This publication is related to the following approaches:</strong>
          <ul style="margin-bottom: 0;">
            {% for approach in page.approaches %}
              <li>
                <a href="/approaches/{{ approach | slugify }}">{{ approach }}</a>
              </li>
            {% endfor %}
          </ul>
        {% else %}
          <strong>This publication is related to the following approach:</strong>
          {% assign approach = page.approaches[0] %}
          <a href="/approaches/{{ approach | slugify }}">{{ approach }}</a>
        {% endif %}
      </div>
    {% endif %}
    {{ content }}

    {% if page.links %}
      <h2>Links</h2>

      {% comment %} Group links by type (extracted from name before parenthesis) {% endcomment %}
      {% assign grouped_links = page.links | group_by_exp: 'link', "link.name | split: ' (' | first" %}

      <ul>
        {% for group in grouped_links %}
          {% assign group_name = group.name %}
          {% assign links = group.items %}

          {% if links.size > 1 %}
            {% comment %} Multiple links of same type {% endcomment %}
            {% if group_name contains 'Slides' %}
              <li>
                {{ group_name }} as
                {% for link in links -%}
                  {%- assign link_label = link.name | split: '(' | last | split: ')' | first -%}
                  <a href="{{ link.url }}">{{ link_label }}</a>
                  {%- unless forloop.last %} or {% endunless -%}
                {%- endfor %}
              </li>
            {% else %}
              <li>
                {{ group_name }} on
                {% for link in links -%}
                  {%- assign link_label = link.name | split: '(' | last | split: ')' | first -%}
                  <a href="{{ link.url }}">{{ link_label }}</a>
                  {%- unless forloop.last %} and {% endunless -%}
                {%- endfor %}
              </li>
            {% endif %}
          {% else %}
            {% comment %} Single link {% endcomment %}
            {% assign link = links[0] %}
            <li>
              <a href="{{ link.url }}">{{ link.name }}</a>
            </li>
          {% endif %}
        {% endfor %}
      </ul>
    {% endif %}
  </article>

  {% if page.related_publications %}
    <h2>References</h2>
    <div class="publications">
      {% bibliography --cited_in_order %}
    </div>
  {% endif %}

  {% if page.publication %}
    <style>
      .publications {
        margin-top: 0px !important;
      }
    </style>
    <h2>Cite this paper</h2>
    <div class="publications">
      {% bibliography -q @*[key ^= {{page.publication}}] --group_by none %}
    </div>
  {% endif %}

  {% if site.giscus and page.giscus_comments %}
    {% include giscus.liquid %}
  {% endif %}
</div>
